<%- include('header'); %>

<div class="box" id="heading">
    <h1><%= day %></h1>
    <h3><%= subtitle %></h3>
</div>


<div class="box">
    <% for (i in newItems) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= newItems[i] %></p>
        </div>
    <%};%>
    <form class="item" action="/additem" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="submit" value="<%=subtitle%>">+</button>
    </form>
</div>

<%- include('footer'); %>